:root {
    --primary-color: #3D8D7A;
    --secondary-color: #FFFACD;
    --comp-color: #8D3D50;
    --comp-muted-color: #B34D64;
    --text-color: #505050;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

header {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;

}

.title-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.title-logo img {
    animation: brightness 2s infinite alternate;
    filter: brightness(125%);
    width: 50px;
    height: 50px;
}

@keyframes brightness {
    from {
        filter: brightness(125%);
    }
    to {
        filter: brightness(100%);
    }
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

#date {
    font-size: 1.2em;
    margin-top: 5px;
}

.hidden {
    display: none !important;
}

#score {
    font-size: 1.5em;
    margin: 20px 0;
}

.score-container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: auto;
    height: 120px;
}

.rings {
    position: relative;
    width: 120px;
    height: 120px;
}

.progress-back,
#progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    pointer-events: none;
}

.progress-ring__track {
  stroke: var(--comp-muted-color);
  stroke-width: 5;
  fill: transparent;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  /* axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.fade-in{
    animation: fadeInSwipe 1s ease-in-out forwards;
}
@keyframes fadeInSwipe {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-out{
    animation: fadeOutSwipe 1s ease-in-out forwards;
}
@keyframes fadeOutSwipe {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-60px);
    }
}

#question {
    background: var(--comp-color);
    color: var(--secondary-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.choices-container {
    display: none;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.choice-label {
    display: block;
    border: 2px solid var(--comp-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.choice-label:hover {
    background: var(--comp-muted-color);
    color: var(--secondary-color);
}
.choice-label input {
    display: none;
}
.choice-label:has(input:checked) {
    background: var(--comp-color);
    color: var(--secondary-color);
}

#open-answer {
    margin-top: 20px;
    font-size: 1.2em;
    color: var(--text-color);
}

#feedback-container {
    margin: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
}


#controls {
    margin: 20px 0;
    text-align: center;
}

button {
    background: var(--comp-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #6E2C3D;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: var(--primary-color);
    color: var(--secondary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
}